.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #0d3349;
}

#keyboardContainer {
  width: 100%;
}

#keyboard {
  display: flex;
}

#whiteKeyContainer {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.key {
  display: inline-block;
}

.whiteKey {
  border: solid 1px #0086B3;
  border-radius: 5px;
  background-color: #fff;
  width: 50px;
  height: 150px;
}

.whiteKey:active {
  background-color: #999999;
}

.blackKey {
  border-radius: 5px;
  background-color: #000;
  margin: 0 -1.5%;
  position: relative;
  width: 30px;
  height: 100px
}

.blackKey:active {
  background-color: #2e2e2e;
}

#octaveContainer {
  display: flex;
}

#octaveButtons {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.octaveButton {
  flex: 1;
  border: solid 1px #0086B3;
  border-radius: 5px;
  color: #000;
  background-color: #ffffff;
  width: 50px;
  height: auto;
}
